* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: #504443;
}

button {
    height: 60px;
    font-size: 24px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button[data-action="equals"] {
    background-color: #4caf50;
    color: #fff;
}

button[data-action="clear"],
button[data-action="delete"] {
    background-color: #504443;
    color: #fff;
}
